body {
	background-color: white;
}

.blue-rect {
	background-color: blue;
	height: 200px; 
	width: 200px;
}

.red-rect {
	background-color: red;
	margin: 30px 0 0 55px;
	height: 200px; 
	width: 200px;
}